*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,#ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.nameContainer {
    width: 60%;
    height: 20%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 30px;
   -webkit-background-clip: text; /* Clip del fondo al texto */
    background-clip: text;
    color: transparent; /* Hace que el color del texto sea transparente */
}



